extends layout

block content

  if user && parseInt(user.level) > 80
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.navbar-toggle-sidebar.collapsed(type='button')
            | MENU
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | TransferApp Manager
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          form.navbar-form.navbar-left(method='GET', role='search')
            .form-group
              input.form-control(type='text', name='q', placeholder='Search')
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Account
                span.caret
              ul.dropdown-menu(role='menu')
             
                li
                  a(href='#') usuários
                li
                  a(href='#') hotéis
                li
                  a(href='#') logs
                li.divider
                li
                  a(href='#') Sair
    .container-fluid.main-container
      .col-md-2.sidebar
        .row
          // uncomment code for absolute positioning tweek see top comment in css
          .absolute-wrapper  
          // Menu
          .side-menu
            nav.navbar.navbar-default(role='navigation')
              // Main Menu
              .side-menu-container
                ul.nav.navbar-nav
                  li
                    a(href='/admin?token='+token)
                      span.ion-person-stalker
                      |  Usuários
                  li
                    a(href='/admin/hotels?token='+token)
                      span.ion-android-plane
                      |  Hotéis
                  li.active
                    a(href='/admin/logs?token='+token)
                      span.ion-card
                      |  Ganhos                  
                  li
                    a(href='#')
                      span.ion-android-list
                      |  Logs

      .col-md-10.content
   
        include earns.pug
  
  else
    include login.pug
    .conatiner
      .col-md-12.content
        footer.pull-left.footer
          p.col-md-10
            hr.divider
            |   				Copyright &COPY; #{new Date().getFullYear()} 
            a(href='#')  7 Startups
