.container-fluid.main-container
  .col-md-2.sidebar
    .row
      // uncomment code for absolute positioning tweek see top comment in css
      .absolute-wrapper  
      // Menu
      .side-menu
        nav.navbar.navbar-default(role='navigation')
          // Main Menu
          .side-menu-container
            ul.nav.navbar-nav
              li.active
                a(href='#')
                  span.glyphicon.glyphicon-dashboard
                  |  Usuários
              li
                a(href='#')
                  span.glyphicon.glyphicon-plane
                  |  Hotéis
              li
                a(href='#')
                  span.glyphicon.glyphicon-cloud
                  |  Logs
  