extends layout

block content
  if user && parseInt(user.level) >= 80
    script.
      window.token = '#{token}';
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.navbar-toggle-sidebar.collapsed(type='button')
            | MENU
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            | TransferApp Manager
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          form.navbar-form.navbar-left(method='GET', role='search')
            .form-group
              input.form-control(type='text', name='q', placeholder='Search')
            button.btn.btn-default(type='submit')
              i.glyphicon.glyphicon-search
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Account
                span.caret
              ul.dropdown-menu(role='menu')
             
                li
                  a(href='#') usuários
                li
                  a(href='#') hotéis
                li
                  a(href='#') logs
                li.divider
                li
                  a(href='#') Sair
    .container-fluid.main-container
      .col-md-2.sidebar
        .row
          // uncomment code for absolute positioning tweek see top comment in css
          .absolute-wrapper  
          // Menu
          .side-menu
            nav.navbar.navbar-default(role='navigation')
              // Main Menu
              .side-menu-container
                ul.nav.navbar-nav
                  li.active
                    a(href='/admin?token='+token)
                      span.ion-person-stalker
                      |  Usuários
                  li
                    a(href='/admin/hotels?token='+token)
                      span.ion-android-plane
                      |  Hotéis
                  li
                    a(href='/admin/earns?token='+token)
                      span.ion-card
                      |  Ganhos                  
                  li
                    a(href='/admin/logs?token='+token)
                      span.ion-android-list
                      |  Logs
  
      .col-md-10.content
        .panel-default
          .panel-body 
            #ModalUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Editar usuário 
                      span.user-id
                  .modal-body
                    form.edit-user-f
                      label Username
                      input.form-control(type="text", name="uname")
                      input.form-control(type="hidden", name="id")
                      label Nome
                      input.form-control(type="text", name="name")
                      label Email
                      input.form-control(type="text", name="email")
                      label Role
                      select#level.form-control(name="level") 
                        option(value="99") Admin
                        option(value="80") Manager
                        option(value="10") User
                        option(value="15") Driver
                      label Expira em
                      input.form-control(type="text", name="expires")
                      label Hotel
                      //- select.form-control(name="hotel")
                      select.form-control(name="hotel")
                        each hotel in hotels
                          option(value=hotel._id) #{hotel.name}    

                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary.save-user(type='button') Save changes

            .col-md-4.pull-right
              input#search.form-control(placeholder="Buscar...")
            table.table.table-hover
              thead
                tr
                  th 
              tbody
                each user in users  
                  tr
                    //- div #{user}
                    if user.meta.status !== 'online'
                      td.state
                        if user.meta.avatar
                          img(onerror='onError(this)', src='http://138.197.124.10:1997/service/image?i=http://138.197.124.10:1997/'+user.meta.avatar) 
                        else
                          img(onerror='onError(this)', src='https://let.de/assets/focus-home/community/avatar-33ccedec8e8c837e71110bc5658ad4e2.png')
                        div.offline-user
                    if user.meta.status == 'online'
                      td.state
                        if user.meta.avatar
                          img(onerror='onError(this)', src='http://138.197.124.10:1997/service/image?i=http://138.197.124.10:1997/'+user.meta.avatar) 
                        else
                          img(onerror='onError(this)', src='https://let.de/assets/focus-home/community/avatar-33ccedec8e8c837e71110bc5658ad4e2.png')
                        div.online-user
                    td.name 
                      p #{user.name}

                      p 
                        if user.meta.founds
                          small Cash $ #{user.meta.founds.week}
                        else
                          small Cash $ 0
                    td.email 
                      p #{user.email}
                      if user.level == 15
                       
                          strong.driver Driver
                      if user.level == 10
                       
                          strong User
                      if user.level == 80
                        
                          strong.manager Manager 
                      if user.level == 99
                       
                          strong.admin Admin   


                  
                    td.expires #{moment(user.expiresParse|| new Date()).format("D MMM YYYY")}
                    if user.hotelExt
                      if user.hotelExt[0]
                        td.hotel #{user.hotelExt[0].name}
                      else
                        td.hotel #{user.hotelExt.name}
                    else
                      th.hotel N/a
                    td 
                      a.edit-user(data-toggle='modal', data-user=JSON.stringify(user) data-target='#ModalUser') editar 
                      a.delete-user excluir
  
  else
    include login.pug
    .conatiner
      .col-md-12.content
        footer.pull-left.footer
          p.col-md-10
            hr.divider
            |   				Copyright &COPY; #{new Date().getFullYear()} 
            a(href='#')  7 Startups
