table.table.table-hover
  thead
    tr
      th Data
      th Valor
      th Distância
      th De
      th Para
      th Estado
  tbody
    each earn in earns  
      tr
        td #{new Date(earn.date).toDateString()}
        td 
          strong R$ #{earn.price}
        td #{earn.info.distance.text} 
        td #{earn.meta.form.address.split('-')[0]}
        td #{earn.meta.to.address.split('-')[0]}
        if earn.state == 'waiting'
          td Aguardando 
        if earn.state == 'Cancel' || earn.state == 'cancel'
          td Cancelada
        if earn.state == 'Finished' || earn.state == 'paid'
          td Pago
        if earn.state == 'payment'
          td Pagamento pendente
