.panel-default
  script.
    window.token = '#{token}';
  div.pull-right
    a.btn.btn-primary.add-hotel-caller(href="#",data-toggle='modal', data-target='#ModalHotel') Adicionar novo
  .panel-body 
    #ModalHotel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Editar hotel 
              span.user-id
          .modal-body
            form.edit-hotel-f
              label Nome
              input.form-control(type="text", name="name")
              input.form-control(type="hidden", name="id")
              label Endereço
              input.form-control(type="text", name="meta[address]")                   
   

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.save-hotel(type='button') Save changes

    table.table.table-hover
      thead
        tr
          th Nome
          th Endereço
      tbody
        each hotel in hotels  
          tr
            td #{hotel.name}
            td #{hotel.data.address}
            td 
              a.edit-hotel(data-toggle='modal', data-hotel=JSON.stringify(hotel) data-target='#ModalHotel') editar 
              a.delete-hotel excluir