extends layout

block content
	.model(class="ng-hide" ng-show='$root.driverNotification')
		.content
			h1 Solicitação de corrida
			p Um usuário solicitou seu veículo. Aceitar solicitação?
			.user-route
				.form {{$root.driverNotification.info.start_address}}
				.to {{$root.driverNotification.info.end_address}}
			.user-card
				.avatar
					img(ng-src="{{$root.driverNotification.user.meta.avatar|| 'https://let.de/assets/focus-home/community/avatar-33ccedec8e8c837e71110bc5658ad4e2.png'}}")
					.user-meta
						.uname {{$root.driverNotification.user.name}}
						.urate
							i.ion-ios-star
							i.ion-ios-star
							i.ion-ios-star
							i.ion-ios-star
							i.ion-ios-star
						.ustatus.ng-binding.online(ng-class="{'online': $root.driverNotification.user.meta.status== 'online'}") {{$root.driverNotification.user.meta.status}}
			a.btn.btn-confirm(ng-click='$root.acceptTrip()') Aceitar
			a.btn.btn-reject(ng-click='$root.rejectTrip()') Rejeitar	
	.menu
		div.logo 
			img(ng-src="images/logo.svg", alt="App")
		.close(ng-click="$root.toogleMenu()") 
			i.ion-close-round
		ul.side-menu(ng-click="$root.toogleMenu()")
			li
				a(ng-click="alternate('me')", href="javascript:;") Perfil
			li
				a(ng-click="alternate('scheduled')", href="javascript:;") Corridas agendadas
			li
				a(ng-click="alternate('history')") Histórico
			li
				a(ng-click="alternate('help')") Ajuda
			li
				a(ng-click="alternate('logout')") Sair
	.msg(ng-class="{ 'show': $root.showMessage, 'error': $root.messageError}")
		span {{$root.message}}
	.general-overlay.overlay(ng-class="{ 'overlay-show': $root.isWorking}")
		.load
			img(src="images/loading.svg" alt="Aguarde")

	ion-nav-view
