doctype html
html(ng-app="Wber")
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
		if !adminPanel
			link(rel='stylesheet', href='/stylesheets/miligram.min.css')
			link(rel='stylesheet', href="/stylesheets/ionic.css") 	
			link(rel='stylesheet', href="/stylesheets/style.css") 	
		else
			link(rel="stylesheet", href="/stylesheets/admin.css")
			link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")

	body(ng-controller="MainController")
		block content

		script(src="/socket.io/socket.io.js")
		script(src="https://momentjs.com/static/js/global.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk&libraries=places')
		if !adminPanel
			script(src="/js/App.js")
			script(src="/js/jquery.js")
		if adminPanel
			script(src="//code.jquery.com/jquery-1.10.2.min.js")
			script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
			script(src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js")
			script(src="/js/admin.js")