.container
  #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
    .panel.panel-info
      .panel-heading
        .panel-title Transfer v1.0
        //- div(style='float:right; font-size: 80%; position: relative; top:-10px')
        //-   a(href='#') Forgot password?
      .panel-body(style='padding-top:30px')
        #login-alert.alert.alert-danger.col-sm-12(style='display:none')
        form#loginform.form-horizontal.login-form(role='form')
          .input-group(style='margin-bottom: 25px')
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input#login-username.form-control(type='text', name='uname', value='', placeholder='username or email')
            input(type='hidden', name='trafic', value='adm')
          .input-group(style='margin-bottom: 25px')
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#login-password.form-control(type='password', name='password', placeholder='password')
          //- .input-group
          //-   .checkbox
          //-     //- label
          //-     //-   input#login-remember(type='checkbox', name='remember', value='1')
              //-   |  Remember me
          .form-group(style='margin-top:10px')
            // Button
            .col-sm-12.controls
              a#btn-login.btn.btn-success(href='#') Login  
