.panel.panel-default
  .panel-heading
    | Dashboard
  .panel-body 
    #ModalUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Editar usuário 
              span.user-id
          .modal-body
            form.edit-user-f
              label Username
              input.form-control(type="text", name="uname")
              input.form-control(type="hidden", name="id")
              label Nome
              input.form-control(type="text", name="name")
              label Email
              input.form-control(type="text", name="email")
              label Ativo
              input.form-control(type="text", name="active")
              label Hotel
              select.form-control(name="hotel")
              	each hotel in hotels
                	option(value=hotel._id) #{hotel.name}                      
   

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.save-user(type='button') Save changes

    table.table.table-hover
      thead
        tr
          th Nome
          th Email
          th Role
          th Data
      tbody
        each user in users  
          tr
            td #{user.name}
            td #{user.email}
            td #{user.level}
            td 
              a.edit-user(data-toggle='modal', data-user=JSON.stringify(user) data-target='#ModalUser') editar 
              a.delete-user excluir