<top-bar color="red" text="Adicionar carro"></top-bar>
<ion-content class="me ncard inner">
	<div class="button-bar vbtns">
		<a class="button vbtns" 
		ng-repeat="carType in carTypes"
		ng-class="{'active': currCarType == carType.caption}" 
		ng-click="toggleType(carType.caption)">
			{{carType.caption}}
		</a>
	</div>
	<div class="meta">
		<label for="">Placa</label>
		<input type="text" mask="@@@ - 9999" ng-model="car.plate" placeholder="ABS - 8741">
	</div>
	<div class="meta">
		<label for="">Modelo</label>
		<input type="text" ng-model="car.model" placeholder="Honda Fit 1.4 Flex SX">
	</div>
	<div class="meta">
		<label for="">Ano</label>
		<input mask="9999" type="text" ng-model="car.year" placeholder="2006">
	</div>
	<button ng-click="pushCar()">Salvar</button>
</ion-content>