<top-bar color="red" text="Adicionar cartão"></top-bar>
<ion-content class="me ncard inner">
	<div class="meta">
		<label for="">Nome no cartão</label>
		<input type="text" id="" ng-model="card.holder_name" class="" placeholder="José Pereira da Rocha">

	</div>
	<div class="meta">
		<label for="user_email">Número do cartão</label>
		<input mask="9999 9999 9999 9999" type="text" id="" ng-model="card.number" class="" placeholder="9999 9999 9999 9999">

	</div>
	<div class="meta">
		<label for="user_email">CPF do titular</label>
		<input mask="999.999.999-99" type="text" id="" ng-model="card.cpf" class="" placeholder="123.456.789-10">

	</div>
	<div class="meta cvv">
		<label for="">Validade</label>
		<input type="text" id="" ng-model="card.expires" class="" mask="99/99" placeholder="15/09">

	</div>
	<div class="meta expires">
		<label for="">CVV</label>
		<input placeholder="014" mask="999" type="text" id="user_email" ng-model="card.cvv" class="">
	</div>	
	<button ng-click="pushCard()">Salvar</button>
</ion-content>