<ion-view class="container auth">
	<div class="row">
		<div class="column">
			<h1>Entar</h1>	
			<form>
				<p class="info" ng-show="error">Oops! {{error.caption}}</p>
				<label for="ageRangeField">Nome de usuário</label>
				<input keyboard-attach type="text" placeholder="" ng-model="auth.uname">
				<label for="ageRangeField">Senha</label>
				<input keyboard-attach  type="password" placeholder=""  ng-model="auth.password">

				<input class="button-primary login" ng-click="login()" type="submit" value="login">
				<div class="bottom-links">
					<a href="#/register">Registro</a> 
					<a href="#/forgot">Esqueceu a senha?</a> 
				</div>						
			</form>    	
		</div>
	</div>
		   <ion-footer>
    <ion-toolbar>
        <ion-input type="text" placeholder="Add a message..."></ion-input>
    </ion-toolbar>
</ion-footer>
</ion-view>
