<ion-nav-bar ng-controller="TopBarController">
  <ion-nav-back-button ng-show="true" class="button-clear">
    <i class="ion-chevron-left"></i> Métodos de pagamento
  </ion-nav-back-button>
  <a class="link-bar" href="#/add-card">Adicionar novo</a>
</ion-nav-bar>
<ion-content class="me ncard inner">
		<div class="loading" ng-show="!paymentMethods"><img src="images/loading.svg"></div>
		<p ng-show="paymentMethods.length == 0">Não há dados</p>
		<div class="cards" ng-repeat="card in paymentMethods">
			<div class="ccard">
				<div class="pre-card">
		  			<img ng-src="{{Config.API_URL}}/images/{{card.type}}.png" class="brand" ng-class="{'mastercard': card.type == 'mastercard', 'visa': card.type == 'visa'}">
		  		</div>
				<div class="pos-card">
					<div class="number">{{card.number}}</div>
					<span class="name">{{card.holder_name}}</span>
					<span class="expires"> Exp {{card.expires}}</span>
				</div>
			</div>
		</div>

</ion-content>