<ion-nav-bar ng-controller="TopBarController">
  <ion-nav-back-button ng-show="true" class="button-clear">
    <i class="ion-chevron-left"></i> Carros
  </ion-nav-back-button>
  <a class="link-bar" ng-show="cars.length < 1" href="#/add-car">Adicionar novo</a>
</ion-nav-bar>
<ion-content class="me ncard inner">
	<div class="loading" ng-show="!cars"><img src="images/loading.svg"></div>
	<p ng-show="car.length == 0">Não há dados</p>
	<div class="cars" ng-repeat="car in cars">
		<div class="ccard">
			<div class="pre-card">
				<div class="plate">{{car.plate}}</div>
	  		</div>
			<div class="pos-card">
				<span class="type">{{car.type}}</span>
				<span class="cmodel"> {{car.model}}</span>
			</div>
		</div>
	</div>
</ion-content>