<ion-view>
	<top-bar color="red" text="Alterar nome"></top-bar>
	<ion-content class="me inner">
		<div class="meta">
			<label for="user_name">Alterar nome</label>
			<input type="text" id="user_name" ng-model="user.name">	
			<button ng-click="edit('name')"> salvar </button>	
				
		</div>

	</ion-content>
</ion-view>