<ion-view>
	<top-bar color="red" text="Alterar senha"></top-bar>
	<ion-content class="me inner">
		<div class="meta">
			<label for="user_password">Nova senha</label>
			<input type="password" id="user_password" ng-model="user.newPassword" placeholder="Insira sua nova senha" value="">	
			<p class="help">Utilize no mínimo 8 cacacteres em uma mistura de letras e números.</p>	
			<button ng-click="edit('password')"> salvar </button>	
	
		</div>
	</ion-content>
</ion-view>