<ion-view>
	<top-bar color="red" text="Alterar email"></top-bar>
	<ion-content class="me inner">
		<div class="meta">
			<label for="user_email">Email</label>
			<input type="text" id="user_email" ng-model="user.email">	
			<button ng-click="edit('email')"> salvar </button>	
		</div>

	</ion-content>
</ion-view>