<ion-view>
	<top-bar color="red" text="Alterar nick"></top-bar>
	<ion-content class="me inner">
		<div class="meta">
			<label for="user_name">Novo nome de usuário</label>
			<input type="text" id="user_name" ng-model="user.uname">	
			<button ng-click="edit('uname')"> salvar </button>	
				
		</div>

	</ion-content>
</ion-view>