<ion-view>
	<ion-nav-bar ng-controller="TopBarController">
	  <ion-nav-back-button ng-show="true" class="button-clear">
	    <i class="ion-chevron-left"></i> Ajuda
	  </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="help">
		<h5>Tópicos da ajuda</h5>
		<p>Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo,</p>

		<h5>Como serei pago?</h5>
		<p>Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo,</p>

		<h5>Por que usar Wber?</h5>
		<p>Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo,</p>

		<h5>O serviço é grátis?</h5>
		<p>Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo,</p>
	</ion-content>
</ion-view>