<ion-view>
	<top-bar color="red" text="Histórico"></top-bar>
	<ion-content class="sheduled">
		<div class="shedule on-hold">
			<div class="smap">
				<div class="shedule-map"></div>
			</div>
			<div class="shedule-info">
				<div class="distance">37km</div>
				<div class="Hour">12:00m 26/11/2017</div>
				<div class="price">R$ 120.00</div>
				<div class="details-trip">					
					<div class="form">Belo Horizonte - Rua Dr Grimaldo de Barros, 144</div>
					<div class="to">João Monlevade - Av Principal, 587</div>
				</div>
				<div class="details-driver">					
					<div class="name">Justin Smith</div>
					<div class="car">Perua Mercedes Benz - LHA 8278</div>
				</div>
			</div>
		</div>
		<div class="shedule">
			<div class="smap">
				<div class="shedule-map"></div>
			</div>
			<div class="shedule-info">
				<div class="distance">6.8km</div>
				<div class="Hour">18:11m 21/11/2017</div>
				<div class="price">R$ 11.50</div>
				<div class="details-trip">					
					<div class="form">Rua Mendes Moreira, 1598</div>
					<div class="to">Subway - Av Minas Gerais</div>
				</div>
				<div class="details-driver">					
					<div class="name">Nicholas Chung</div>
					<div class="car">Honda Fit Prata - PNJ 4468</div>
				</div>
			</div>
		</div>
		<div class="shedule on-hold">
			<div class="smap">
				<div class="shedule-map"></div>
			</div>
			<div class="shedule-info">
				<div class="distance">1.2km</div>
				<div class="Hour">13:22m 17/11/2017</div>
				<div class="price">R$ 17.50</div>
				<div class="details-trip">					
					<div class="form">Rua José Luis Nogueira</div>
					<div class="to">Av do Controno</div>
				</div>
				<div class="details-driver">					
					<div class="name">Mark Frederic</div>
					<div class="car">Cruze Sedan Preto - KLM 3588</div>
				</div>
			</div>
		</div>		
	</ion-content>
</ion-view>

<a ">
<script>
var str = ;

https://maps.googleapis.com/maps/api/staticmap?center={{aTrip.meta.coords.to.lat}},{{aTrip.meta.coords.to.lng}}&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyATNZ4NB4n68UpH7rsaW9xu8P9BzUwYfJU&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:A%7C{{aTrip.meta.coords.from.lat}},{{aTrip.meta.coords.from.lng}}&markers=size:mid%7Ccolor:0x0463fc%7Clabel:B%7C{{aTrip.meta.coords.from.lat}},{{aTrip.meta.coords.from.lng}}
var str =	{{aTrip.meta.coords.from.lat}},{{aTrip.meta.coords.from.lng}}

