<ion-view class="map"> 
	<div class="schedule_trip_form" ng-show="userWantSchedule">
		<div class="inner_trip">
			<h1>Agendar corrida</h1>

			<div class="hour"><input mask="99:99" ng-model="schedule.hour" placeholder="12:49" type="text"></div>
			<div class="time"><input mask="99/99/9999"ng-model="schedule.time" type="text" placeholder="12/09/2018"></div>
			<div class="inner_foot">
				<a class="btn btn-schedule" ng-click="scheduleTrip()">Agendar</a>
				<a class="btn"  ng-click="closeSchedule()">Cacelar</a>
			</div>
		</div>
	</div>
	<div class="model" ng-show="userNotification">
		<div class="content" ng-show="notification.type == 'result'">
			<h1 ng-show="notification.answer == 'accept'">Confirmado!</h1>
			<h1 ng-show="notification.answer == 'decline'">Rejeitado!</h1>
			<p ng-show="notification.answer == 'accept'">O motorista {{driverName}} aceitou sua solicitação!</p>
			<p ng-show="notification.answer == 'decline'">O motorista {{driverName}} rejeitou sua solicitação!</p>
			
			<a class="btn btn-confirm" ng-show="notification.answer == 'accept'" ng-click="backTrip()">OK</a>
			<a class="btn btn-cancel" ng-show="notification.answer == 'decline'" ng-click="cancelTrip()">Voltar</a>			
		</div>
		<div class="content" ng-show="notification.type == 'payment'">
			<h1>PAGAMENTO!</h1>
			<a class="btn btn-cancel" ng-click="cancelTrip()">Cancelar</a>			
		</div>
		<div class="content" ng-show="notification.type == 'wait'">
			<h1>Aguardando...</h1>
			<p>Espere o motorista {{driverName}} aceite sua solicitação!</p>
			<a class="btn btn-cancel" ng-click="cancelTrip()">Cancelar</a>
			
		</div>
		<div class="content" ng-show="!notification.type">
			<h1>Solicitar corrida</h1>
			<p>Você confirma que realmente deseja inciar esta corrida?</p>
			<div class="user-route">
				<div class="form">{{notification.start_address}}</div>
				<div class="to">{{notification.end_address}}</div>
			</div>
			<a class="btn btn-confirm" ng-click="requestTrip()">Solicitar</a>
			<a class="btn btn-cancel" ng-click="cancelTrip()">Cancelar</a>
		</div>
	</div>

	<ion-content  overflow-scroll="false" has-bouncing="false">
		<div class="search-overlay" ng-class="{'show': searchOverlay}"></div>
		<div class="search">

			<div class="sugestions" ng-show="searchOverlay">
				<!-- <p ng-show="tripVars.sugest">Localize seu destino</p> -->
  				<div class="sugestion" ng-click="tripTo(key, currModel)" ng-repeat="(key, sugestion) in tripVars.sugest">{{sugestion}}</div>  
			</div>
			<div class="search-field" ng-class="{'open' : searchOpen}">
			<!-- {{sugestLocations}}{{xxxx}} -->

				<div ng-click="toggleSearch()" class="back-search">
				    <i class="ion-close-circled"></i>
				</div>			
				<div class="mark-from"></div>
				<input type="text" class="input-form" focus-on="searchOpen" ng-blur="toggleSugest('from')" ng-click="currentModel('from')" ng-model="$parent.address.from" placeholder="Origem">
				<div class="mark-to"></div>
				<input type="text" class="input-to" ng-blur="toggleSugest('to')" ng-click="currentModel('to')" ng-model="$parent.address.to" placeholder="Destino">
			</div>		
			<search-form></search-form>

			<input type="text" id="search-main" ng-click="toggleSearch()" class="search-map" placeholder="Where you wanna go...">
		</div>
		<div id="map"></div>
		<div class="overlay" ng-show="showOverlay">
			<img src="images/loading.svg" alt="Aguarde">
		</div>
		<div class="pick-driver" ng-show="tripReady">
		<div class="tabs-trip">
			<a href="javascript:;" ng-click="tab('chooseNearDriver')" ng-class="{'active': chooseNearDriver}" class="tab-link">Buscar</a>
			<a href="javascript:;" ng-click="tab('pickDriver')" ng-class="{'active': pickDriver}" class="tab-link">Ultimos motoristas</a>
		</div>
		<div class="default-view" ng-show="chooseNearDriver">			
			<div class="language">
				<div class="bra" ng-class="{'active': desiredLocation.meta['i18n'] == 'pt'}" ng-click="setLang('pt')">
					<img src="https://image.flaticon.com/icons/svg/197/197386.svg">
				</div>
				<div class="us" ng-class="{'active': desiredLocation.meta['i18n'] == 'en'}" ng-click="setLang('en')">
					<img src="https://image.flaticon.com/icons/svg/197/197484.svg">
				</div>
			</div>
			<div class="car-type">
				<div class="car-type-field" ng-class="{active: desiredLocation.car == 'sedan'}" ng-click="setCar('sedan')">
					<img src="https://image.flaticon.com/icons/svg/55/55283.svg">
					<span>Sedan</span>
				</div>
				<div class="car-type-field" ng-class="{active: desiredLocation.car == 'classic'}"  ng-click="setCar('classic')">
					<img src="https://image.flaticon.com/icons/svg/55/55283.svg">
					<span>Classic</span>
				</div>
				<div class="car-type-field" ng-class="{active: desiredLocation.car == 'suv'}"  ng-click="setCar('suv')">
					<img src="https://image.flaticon.com/icons/svg/55/55349.svg">
					<span>SUV</span>
				</div>
				<div class="car-type-field" ng-class="{active: desiredLocation.car == 'van'}"  ng-click="setCar('van')">
					<img src="https://image.flaticon.com/icons/svg/55/55349.svg">
					<span>Van</span>
				</div>				
			</div>
		</div>
		<div class="drivers-view" ng-show="pickDriver">			
			<h5>escolher motorista</h5>
			<div class="drivers">
				<div class="">
					<div class="info" ng-hide="drivers">Não há carros disponíveis</div>

					<div class="driver" ng-class="{'active': desiredLocation.meta.driver._id == driver._id}" ng-repeat="driver in drivers" ng-click="setDriver(driver)">
						<img ng-src="{{driver.meta.avatar||'https://let.de/assets/focus-home/community/avatar-33ccedec8e8c837e71110bc5658ad4e2.png'}}" alt="{{driver.name}}">
						<div class="driver-name">{{driver.name}}</div>
						<div class="driver-distance">{{driver.distance}}</div>
					</div>


				</div>
			</div>
		</div>
		<div class="total-payment">
			<div class="total-tip">Valor da corrida R$ {{desiredLocation.price}}</div>			
			<button class="button-primary choose-closer" ng-disabled="canTrip" ng-click="tripNow()">Iniciar corrida <i class="ion-arrow-right-c"></i></button>
			<a ng-show="!scheduledTime" href="javascript:;" class="shedule-trip" ng-click="shedule()">Agendar corrida</a>	
			<a ng-show="scheduledTime" href="javascript:;" class="shedule-trip" ng-click="shedule()">Agendado para {{scheduledTimeReadable}}</a>	
		</div>
		</div>
		<div class="route-info" ng-show="desiredLocation.info" ng-click="chooseDriver()">
			<div class="form">{{desiredLocation.info.start_address}}</div>
			<div class="to">{{desiredLocation.info.end_address}}</div>
			<div class="detail">
				<div class="distance">{{desiredLocation.distance}}</div>
				<div class="duration">{{desiredLocation.duration}}</div>
			</div>
		</div>	
	</ion-content>
</ion-view>