<ion-view>
	<ion-nav-bar ng-controller="TopBarController">
	  <ion-nav-back-button ng-show="true" class="button-clear">
	    <i class="ion-chevron-left"></i> Perfil
	  </ion-nav-back-button>
	</ion-nav-bar>
	<div class="statuses" ng-show="toggleState">
		<div class="status-options">
			<div ng-click="setStatus('online')" class="status-caption online" ng-class="{'active': user.meta.status== 'online'}">Online</div>
			<div ng-click="setStatus('offline')" class="status-caption offline" ng-class="{'active': user.meta.status== 'offline'}">Offline</div>
		</div>
	</div>
	<ion-content class="me">
		<div class="avatar">
		<div class="couple-figure" ng-click="selectFile('#file1')">
			<img class="" ng-src="{{!user.meta.avatar? 'https://let.de/assets/focus-home/community/avatar-33ccedec8e8c837e71110bc5658ad4e2.png': user.meta.avatar}}">
	<input ng-hide="true" type='file' id="file1" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" />		
			<i class="icon-camera" ng-show="!user.meta.avatar"></i>
			</div>

			<div class="user-meta">
			  <div class="uname"  ng-click="edit('name')">{{user.name}} <i class="ion-edit"></i> </div>
			<div class="urate">
				<i class="ion-ios-star"></i>
				<i class="ion-ios-star"></i>
				<i class="ion-ios-star"></i>
				<i class="ion-ios-star"></i>
				<i class="ion-ios-star"></i>
			</div>
			<div class="ustatus" ng-class="{'online': user.meta.status== 'online'}" ng-click="changeStatus()">{{user.meta.status}}</div>
			<a href="#/cards" class="paymethods">Métodos de pagamento</a>
			</div>
			<div class="founds" ng-show="user.level == 15">
			  <div class="seex">
			    <div class="value">R$ {{user.meta.founds.semester}}</div>
			    <span>semestral</span>
			</div><div class="week">
			    <div class="value">R$ {{user.meta.founds.week}}</div>
			    <span>semanal</span>
			</div>
			  <div class="month">
			    <div class="value">R$ {{user.meta.founds.month}}</div>
			    <span>mensal</span>
			</div>
			<a class="my-cars" ng-show="!car" href="#/cars">Meu carro</a>
			<a class="my-cars" ng-show="car" href="#/cars">{{car.model}} - {{car.plate}}</a>
			</div>			
		</div>
		
		<div class="meta">
			<label for="user_uname">Nome de usuário</label>
			<input ng-click="edit('uname')" type="text" id="user_uname" ng-model="user.uname">
			<label for="user_email">Email</label>
			<input ng-click="edit('email')" type="email" id="user_email" ng-model="user.email">					
			<label for="user_password">Senha</label>
			<input ng-click="edit('password')" type="password" id="user_password" ng-model="user.password" placeholder="password">
		
        <ion-toggle  ng-model="level" ng-checked="user.level == 15"  ng-change="toggleChange()" value="on">
          Perfil de motorista
        </ion-toggle>

		</div>

	</ion-content>
</ion-view>