<top-bar color="red" text="Registrar"></top-bar>
<ion-content class="me ncard inner">
	<div class="meta">
		<label for="">Nome</label>
		<input type="text" ng-model="newUser.name" placeholder="Ex José Da silva">
	</div>
	<div class="meta">
		<label for="">Nick</label>
		<input type="text" ng-model="newUser.uname" placeholder="Ex jose.silva1">
	</div>
	<div class="meta">
		<label for="">Email</label>
		<input  type="text" ng-model="newUser.email" placeholder="user@domain.com">
	</div>
	<div class="meta">
		<label for="">Senha</label>
		<input  type="password" ng-model="newUser.password" placeholder="password">
	</div>	
	<button ng-click="pushCar()">Salvar</button>
</ion-content>