<ion-view>
	<top-bar color="red" text="Agendadas"></top-bar>
	<ion-content class="sheduled">
		<div class="shedule" ng-class="{'on-hold': aTrip.state == 'waiting'}" ng-repeat="aTrip in $root.services">
		<div class="inner_driver">
			<div class="driver-avatar">			
				<img src="{{aTrip.user.meta.avatar}}">
			</div>
			<div class="driver-meta">
				<div class="driver-name-inner">{{aTrip.user.name}}</div>
				<div class="driver-distance">{{aTrip.user.distance|| '0m'}}</div>
			</div>
			<div class="ydrive" ng-show="{{aTrip.meta.driver == user._id}}">Você é o motorista</div>
		</div>
			<div class="smap">
				<div class="shedule-map">
					<img ng-src="{{aTrip.image}}" alt="">
				</div>
			</div>
			<div class="shedule-info">
				<div class="distance">{{aTrip.distance}}</div>
				<div class="Hour">{{aTrip.time}}</div>
				<div class="price">R$ {{aTrip.price}}</div>
				<div class="details-trip">					
					<div class="form">{{aTrip.info.start_address}}</div>
					<div class="to">{{aTrip.info.end_address}}</div>
				</div>
				<div class="details-driver">					
					<div class="name">{{aTrip.meta.driver.name}}</div>
					<div class="car">{{aTrip.meta.driver.name||'N/A'}}</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>